@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Crimson+Text&family=Oranienbaum&display=swap');
html,body{
    overflow-x: hidden;
}
/* TITLE */
#title{
    /* BG image of opening  */
    /* background: url("../images/background.jpg") grey; */
    animation: example 40s ease-in-out 0s infinite;
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
}

@keyframes example {
    0%,100%   {background: url("../images/bg1.jpg"); background-size: 1366px 768px; background-position: center;}
    20%  {background: url("../images/bg2.jpg"); background-size: 1366px 768px; background-position: center;}
    40%  {background: url("../images/bg3.jpg"); background-size: 1366px 768px; background-position: center;}
    60%  {background: url("../images/bg4.jpg"); background-size: 1366px 768px; background-position: center;}
    80% {background: url("../images/bg5.jpg"); background-size: 1366px 768px; background-position: center;}
}

/* Making the x and y padding of navbar equal */
.navbar{
    padding: 16px;
}

/* Background color of Menu */
.navbar-custom{
    /* Currently not used */
    background-color: rgb(32, 32, 32);
}

/* Modify brand and text color */
.navbar-custom .navbar-brand{
    color: rgb(229, 255, 0);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link ,
.navbar-custom button{
    color: white;
}

/* Setting font style of menu items */
.nav-link , .dropdown-item{
    font-family: 'Prata', serif;
    font-size: 0.88rem;
    letter-spacing: 3px;
    color: white;
}

/* Adding transition in dropdown of project in menubar */
.dropdown-menu{
    background: transparent;
    display: block;

    transform-origin: top;

    height: 0;
    overflow: hidden;
    padding: 0;
    border: 0;
    transition: all 0.3s;
}
.dropdown-menu.show{
    display: block;
    height: 90px;
    border: 1px solid rgb(126, 125, 125);
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);
}


.cg-logo{
    /* Small size of logo for desktop */
    width: 12vw;
    filter: drop-shadow(9px 9px 2px rgba(0, 0, 0, 0.274));
    cursor: pointer;
    backdrop-filter: blur(10px);
    background: rgba(54, 52, 52, 0.329);
}


/* Three big headings (of landing Page)*/
.front-content h1{
    text-align: center;
    font-family: 'Cinzel', serif;
    color: white;
    word-spacing: 1rem;
    /* Making font size 3rem/48px for 1366px width */
    font-size: 3.513vw;
    margin-top: 13.802vh;
}

#about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to right, #93947b, #e7e9bb); */
    /* backdrop-filter: blur(80px); */
}
#about h1{
    font-family: 'Cinzel', serif;
    word-spacing: 1rem;
    /* Making font size 3rem/48px for 1366px width */
    font-size: 10.513vw;
    filter: drop-shadow(9px 9px 3px rgba(0, 0, 0, 0.274));
    
}

/* Mobile Only */
@media only screen and (max-width:700px){
    /* Three big headings (of landing Page)*/
    .front-content h1{
        font-size: 12vw;
    }

    /* Changing Logo size for mobiles */
    .cg-logo{
        width: 18vw;
    }
}