@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Crimson+Text&family=Oranienbaum&display=swap');
html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h5,h6{
    margin: 0;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    color: white;
}
h5{
    font-weight: 600;
}
/* TITLE */
#title{
    /* BG image of opening  */
    /* background: url("../images/background.jpg") grey; */
    animation: example 40s ease-in-out 0s infinite;
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
}

@keyframes example {
    0%,100%   {background: url("../images/bg1.jpg"); background-size: 1366px 768px; background-position: center;}
    20%  {background: url("../images/bg2.jpg"); background-size: 1366px 768px; background-position: center;}
    40%  {background: url("../images/bg3.jpg"); background-size: 1366px 768px; background-position: center;}
    60%  {background: url("../images/bg4.jpg"); background-size: 1366px 768px; background-position: center;}
    80% {background: url("../images/bg5.jpg"); background-size: 1366px 768px; background-position: center;}
}

/* Making the x and y padding of navbar equal */
.navbar{
    padding: 16px;
}

/* Background color of Menu */
.navbar-custom{
    /* Currently not used */
    background-color: rgb(32, 32, 32);
}

/* Modify brand and text color */
.navbar-custom .navbar-brand{
    color: rgb(229, 255, 0);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link ,
.navbar-custom button{
    color: white;
}

/* Setting font style of menu items */
.nav-link , .dropdown-item{
    font-family: 'Prata', serif;
    font-size: 0.88rem;
    letter-spacing: 3px;
    color: white;
}

/* Adding transition in dropdown of project in menubar */
.dropdown-menu{
    background: transparent;
    display: block;

    transform-origin: top;

    height: 0;
    overflow: hidden;
    padding: 0;
    border: 0;
    transition: all 0.3s;
}
.dropdown-menu.show{
    display: block;
    height: 90px;
    border: 1px solid rgb(126, 125, 125);
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);
}


.cg-logo{
    /* Small size of logo for desktop */
    width: 12vw;
    filter: drop-shadow(9px 9px 2px rgba(0, 0, 0, 0.274));
    cursor: pointer;
    backdrop-filter: blur(10px);
    background: linear-gradient(135deg,rgba(255, 255, 255, 0), 40% ,rgba(255, 255, 255, 0.356),60%,rgba(255, 255, 255, 0));
    /* background: linear-gradient(80deg,transparent,rgba(255, 255, 255, 0.267),transparent); */
    background-repeat: no-repeat;
    background-position: -0% -0%;
    background-size: 600%;

    /* perspective: 1500px; */
    transform: perspective(400px);
    /* transform-origin: left; */
    transform-style: preserve-3d;
    transition: background-position 0.7s ease , transform 0.7s ease-in-out;
}
.cg-logo:hover{
    background-position: 100% 100%;
    transition-duration: 0.7s;
    transform: rotate3d(1,-2,0,-20deg);
    /* transform: translateZ(100px); */
    transition: background-position 0.7s ease , transform 0.7s ease-in-out;
}


/* Three big headings (of landing Page)*/
.front-content h1{
    text-align: center;
    font-family: 'Cinzel', serif;
    color: white;
    word-spacing: 1rem;
    /* Making font size 3rem/48px for 1366px width */
    font-size: 3.513vw;
    margin-top: 13.802vh;
}

/* ABOUT */
#about{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right, #93947b7e, #e7e9bbd2);
}
#about h1{
    font-family: 'Cinzel', serif;
    word-spacing: 1rem;
    /* Making font size 3rem/48px for 1366px width = 10.513vw */
    font-size: 102px;
    filter: drop-shadow(9px 9px 3px rgba(0, 0, 0, 0.274));
    
}
.about-content{
    flex-basis: 50%;
}
.about-content{
    font-family: 'Oranienbaum', serif;
    text-align: justify;
    font-size: 1.2rem;
    position: relative;
}

/* PROJECT */
#projects{
    background: rgb(82, 82, 82);
    background:url("../images/projectBG1.jpg") center center no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}
.gallery-object{
    flex-basis: 47%;
    background-color: rgba(253, 253, 253, 0.068);
    backdrop-filter: blur(7px);
    margin: 10px 0px;
    cursor: pointer;
}

/* Transition on image Hover */
.gallery-object-bottom {
    position: relative;
    transition: transform 400ms ease-in-out;
}
.gallery-object-image:hover + .gallery-object-bottom{
    transform: translateY(20px);
}
.gallery-object-image:hover::after{
    border-radius: 10% 0 0 0;
}


.gallery img{
    box-sizing: border-box;
    width: 100%;
}
/* Making the border Top Part */
.gallery-object-image{
    position: relative;
}
/* Image border with 3 sides */
.gallery-object-image::after{
    content: '';
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 20px;
    right: 20px;
    opacity: 1;
    border: solid rgb(245, 245, 245);
    border-width: 1px 1px 0;
    border-radius: 0 10% 0 0;
    transition: all 400ms ease-in-out;
}
/* Margins of IMAGE HEADING (h5) */
.image-title{
    margin: 12px 0px 12px 60px;
    display: inline-block;
    position: relative;
}


/* MAKING THE HORIZONTL BAR OF IMAGE TITLE */
/* Horizontal Bar Left */
.image-title h5::before{
    content: '';
    width: 35px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -40px;
}
/* horizontal bar right */
.image-title h5::after{
    content: ' ';
    /* width: 396px; Width will be added dynamically through js*/
    height: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: calc(100% + 5px);;
}
/* Vertial Bar Left */
.gallery-object-bottom::before{
    content: '';
    position: absolute;
    height: 45px;
    width: 1px;
    background-color: #fff;
    top: -20px;
    left: 20px;
}
/* Vertical Bar Right */
.gallery-object-bottom::after{
    content: '';
    position: absolute;
    height: 45px;
    width: 1px;
    background-color: #fff;
    top: -20px;
    right: 20px;
}

/* Margins of image info(h6) */
.image-info{
    margin: 0px 0px 50px 30px
}

/* Mobile Only */
@media only screen and (max-width:700px){
    /* Three big headings (of landing Page)*/
    .front-content h1{
        font-size: 12vw;
    }

    /* Changing Logo size for mobiles */
    .cg-logo{
        width: 18vw;
    }

    /* To show one coloumn in mobile view */
    .gallery-object{
        flex-basis: 100%;
    }
    #about{
        flex-direction: column;
        height: auto;
        padding: 0 0 50px;
        position: relative;
    }
    #about h1{
        padding: 35px 30px;
        margin: 0;
        font-size: 50px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .about-content{
        padding: 0 30px;
        line-height: 1.2rem;
        margin-top: 120px;
    }


}