@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Crimson+Text&family=Oranienbaum&display=swap');
html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h5,h6{
    margin: 0;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    color: white;
}
h5{
    font-weight: 600;
}
/* TITLE */
#title{
    /* BG image of opening  */    
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* animation: example 60s ease 0.5s infinite; */
    /* animation: example 20s infinite; */
    
    transition: background 2s;

    -webkit-animation: example 20s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: example 20s;
    -moz-animation-iteration-count: infinite;
    animation: example 20s;
    animation-iteration-count: infinite;

    padding-bottom: 24px;
}

@-webkit-keyframes example {
    0%,100%   {background: url("../images/bg1.jpg");background-attachment:fixed;}
    20%  {background: url("../images/bg2.jpg");background-attachment:fixed;}
    40%  {background: url("../images/bg3.jpg");background-attachment:fixed;}
    60%  {background: url("../images/bg4.jpg");background-attachment:fixed;}
    80%  {background: url("../images/bg5.jpg");background-attachment:fixed;}
}

@-moz-keyframes example {
    0%,100%   {background: url("../images/bg1.jpg");background-attachment:fixed;}
    20%  {background: url("../images/bg2.jpg");background-attachment:fixed;}
    40%  {background: url("../images/bg3.jpg");background-attachment:fixed;}
    60%  {background: url("../images/bg4.jpg");background-attachment:fixed;}
    80%  {background: url("../images/bg5.jpg");background-attachment:fixed;}
}

@keyframes example {
    0%,100%   {background: url("../images/bg1.jpg");background-attachment:fixed;}
    20%  {background: url("../images/bg2.jpg");background-attachment:fixed;}
    40%  {background: url("../images/bg3.jpg");background-attachment:fixed;}
    60%  {background: url("../images/bg4.jpg");background-attachment:fixed;}
    80%  {background: url("../images/bg5.jpg");background-attachment:fixed;}
}

/* Making the x and y padding of navbar equal */
.navbar{
    padding: 16px;
}

/* Background color of Menu */
.navbar-custom{
    /* Currently not used */
    background-color: rgb(32, 32, 32);
}

/* Modify brand and text color */
.navbar-custom .navbar-brand{
    color: rgb(229, 255, 0);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link ,
.navbar-custom button{
    color: white;
}

/* Setting font style of menu items */
.nav-link , .dropdown-item{
    font-family: 'Prata', serif;
    font-size: 0.88rem;
    letter-spacing: 3px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.836);
    
}

/* Adding transition in dropdown of project in menubar */
.dropdown-menu{
    background: transparent;
    display: block;

    transform-origin: top;

    height: 0;
    overflow: hidden;
    padding: 0;
    border: 0;
    transition: all 0.3s;
}
.dropdown-menu.show{
    display: block;
    height: 90px;
    border: 1px solid rgb(126, 125, 125);
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);
}


.cg-logo{
    /* Small size of logo for desktop */
    width: 12vw;
    filter: drop-shadow(9px 9px 2px rgba(0, 0, 0, 0.274));
    cursor: pointer;
    backdrop-filter: blur(10px);
    background: linear-gradient(135deg,rgba(255, 255, 255, 0), 40% ,rgba(255, 255, 255, 0.356),60%,rgba(255, 255, 255, 0));
    /* background: linear-gradient(80deg,transparent,rgba(255, 255, 255, 0.267),transparent); */
    background-repeat: no-repeat;
    background-position: -0% -0%;
    background-size: 600%;

    /* perspective: 1500px; */
    transform: perspective(400px);
    /* transform-origin: left; */
    transform-style: preserve-3d;
    transition: background-position 0.7s ease , transform 0.7s ease-in-out;
}
.cg-logo:hover{
    background-position: 100% 100%;
    transition-duration: 0.7s;
    transform: rotate3d(1,-2,0,-20deg);
    /* transform: translateZ(100px); */
    transition: background-position 0.7s ease , transform 0.7s ease-in-out;
}


/* Three big headings (of landing Page)*/
.front-content h1{
    text-align: center;
    font-family: 'Cinzel', serif;
    color: white;
    word-spacing: 1rem;
    /* Making font size 3rem/48px for 1366px width */
    font-size: 3.513vw;
    margin-top: 13.802vh;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.836);
    /* filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.699)); */
    
}

/* ABOUT */
#about{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
#about h1{
    font-family: 'Cinzel', serif;
    font-size: 102px;
    filter: drop-shadow(0.658vw 0.658vw 0.219vw rgba(0, 0, 0, 0.274));
}
.about-content{
    position: relative;
    flex-basis: 50%;
}
.about-content p{
    font-family: 'Oranienbaum', serif;
    text-align: justify;
    font-size: 1.2rem;
    margin: 16px 0;
}
/* Top Line and bottom line*/
.about-content::before , .about-content::after{
    content: ' ';
    background-color: rgb(138, 138, 138);
    height: 42%;
    width: 2px;
    position: absolute;
}
/* Top Line */
.about-content::before{
    top: 0;
    left: -7%;
}
/* Bottom Line */
.about-content::after{
    bottom: 0;
    left: -7%;
}
/* Middle Circle */
.about-content .circle{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: -7%;
    transform: translate(-50%, -54%);
    border: 1px solid rgb(138, 138, 138);
    /* border-radius: 50%; */
    animation: morphing 10s ease-in 0s infinite;
}

@keyframes circle-radius-anim {
    0%   { border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;}
    25%  { border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;}
    50%  { border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;}
    75%  { border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;}
    100% { border-radius: 41% 59% 50% 50% / 50% 29% 71% 50% ;}
}
@keyframes morphing {
    0% ,100% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;}
    25% {  border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;}
    50% { border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;}
    75% { border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;}
}

/* PROJECT */
#projects{
    background: rgb(82, 82, 82);
    background:url("../images/projectBG3.jpg") center center no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: center center;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}
.gallery-object{
    flex-basis: 47%;
    background-color: rgba(253, 253, 253, 0.068);
    backdrop-filter: blur(3px);
    margin: 10px 0px;
    cursor: pointer;
}

/* Transition on image Hover */
.gallery-object-bottom {
    position: relative;
    transition: transform 400ms ease-in-out;
}
.gallery-object-image:hover + .gallery-object-bottom{
    transform: translateY(20px);
}
.gallery-object-image:hover::after{
    border-radius: 10% 0 0 0;
}


.gallery img{
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
/* Making the border Top Part */
.gallery-object-image{
    position: relative;
}
/* Image border with 3 sides */
.gallery-object-image::after{
    content: '';
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 20px;
    right: 20px;
    opacity: 1;
    border: solid rgb(245, 245, 245);
    border-width: 1px 1px 0;
    border-radius: 0 10% 0 0;
    transition: all 400ms ease-in-out;
}
/* Margins of IMAGE HEADING (h5) */
.image-title{
    margin: 12px 0px 12px 60px;
    display: inline-block;
    position: relative;
}
.image-title h5{
    color: #CBA37C;
}

/* MAKING THE HORIZONTL BAR OF IMAGE TITLE */
/* Horizontal Bar Left */
.image-title h5::before{
    content: '';
    width: 35px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -40px;
}
/* horizontal bar right */
.image-title h5::after{
    content: ' ';
    /* width: 396px; Width will be added dynamically through js*/
    height: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: calc(100% + 5px);;
}
/* Vertial Bar Left */
.gallery-object-bottom::before{
    content: '';
    position: absolute;
    height: 45px;
    width: 1px;
    background-color: #fff;
    top: -20px;
    left: 20px;
}
/* Vertical Bar Right */
.gallery-object-bottom::after{
    content: '';
    position: absolute;
    height: 45px;
    width: 1px;
    background-color: #fff;
    top: -20px;
    right: 20px;
}

/* Margins of image info(h6) */
.image-info{
    margin: 0px 0px 50px 30px
}


/* LIGHTBOX */
#lightbox{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(53, 53, 53, 0.568);
    backdrop-filter: blur(2px);
    display: none;
}

#lightbox.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lightbox img{
    border: 1px solid red;
    /* width: 819px; */
    height: auto;
    max-width: 80%;
}

/* Slider Buttons */
.slider-btns {
	position: absolute;
    height: 7.320vw; width: 7.320vw;
	margin: 0;   
    background: rgba(255, 255, 255, 0.096);
	border: 1px solid rgba(0, 0, 0, 0.226);
    transition: all 40ms ease-in-out;
    cursor: pointer;
}
.slider-btns.left{
    left: 1%;
    border-radius: 80% 20% 20% 80% / 50% 50% 50% 50% ;
}
.slider-btns.right{
    right: 1%;
    border-radius: 20% 80% 80% 20% / 50% 50% 50% 50% ;
}
.arrow {
    position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
    height: 1.940vw; width: 1.940vw;
	border: 5px solid rgba(255, 255, 255, 0.623);
    border-radius: 10% 10% 83% 16% / 86% 10% 10% 15% ;
    border-width: 0 0 0.239vw 0.239vw;
}
.slider-btns.left .arrow{
    transform: rotate(45deg);
}
.slider-btns.right .arrow{
    transform: rotate(225deg);
}
.slider-btns:hover{
    background: rgba(255, 255, 255, 0.196);
}
.slider-btns:active{
    /* height: 90px; width: 90px; */
    height: 6.588vw; width: 6.588vw;
}
.slider-btns.left:active{
    border-radius: 93% 7% 7% 93% / 50% 50% 50% 50%;
}
.slider-btns.right:active{
    border-radius: 7% 93% 93% 7% / 50% 50% 50% 50%;
}

/* CLOSE BUTTON for Image Carousel */
.close {
    position: absolute;
    right: 2vh;
    top: 2vh;
    width: 5.468vh;
    height: 5.468vh;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.1s ease-out;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 2.604vh;
    content: ' ';
    height: 5.598vh;
    width: 0.270vh;
    background-color: rgb(255, 255, 255);
    /* border-radius: 50%; */
    clip-path: ellipse(50% 50% at 50% 50%);
    transition: transform 40ms ease-in-out;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.close:active::before{
    transform: rotate(60deg);
}
.close:active::after{
    transform: rotate(-60deg);
}

/* Mobile Only */
@media only screen and (max-width:700px){
    /* Three big headings (of landing Page)*/
    .front-content h1{
        font-size: 12vw;
    }

    /* Changing Logo size for mobiles */
    .cg-logo{
        width: 18vw;
    }

    /* To show one coloumn in mobile view */
    .gallery-object{
        flex-basis: 100%;
    }
    /* ABOUT SECTION IN MOBILE */
    #about{
        flex-direction: column;
        height: auto;
        padding: 0 0 50px;
        position: relative;
    }
    #about h1{
        padding: 35px 30px;
        margin: 0;
        font-size: 50px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .about-content{
        padding: 0 30px;
        line-height: 1.2rem;
        margin-top: 116px;
    }
    .about-content p{
        font-size: 0.9rem;
    }
    .image-title h5 , .image-info h6{
        font-size: 4.40vw ;
    }
    .gallery-object-bottom::before,.gallery-object-bottom::after {
        /* height: 43px; */
        height: calc(33px + 2.20vw);
    }
}